<div class="ui success message">
  <i class="close icon"></i>
  <div class="header">
    Your client registration was successful.
  </div>
  <p>You may now view your clients.</p>
</div>

<a href="/clients">
<button class="ui primary button">
  View Clients
</button></a>