<!DOCTYPE html>
<html>
  <head>
    <title>Beauty Hair Salon</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/app.css'>
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro" rel="stylesheet">
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/6538f96ad6ec7b358ab385e46/a61d4021e3a4b0c8227efe21e.js");</script>
  </head>


<div class="ui secondary pointing menu" id="navhead">
  <a class="active item" href="/" id="navhome">
    Home
  </a>
</div>
<body>
    
      #parse( $template )

  </body>
</html>