

<h1>Stylist list</h1>

#if ($stylists)
  <ul>
    #foreach ($stylist in $stylists)
      <li><a href="/stylists/$stylist.getId()">$stylist.getStylistName()</a></li>
    #end
  </ul>
#else
  <p>No stylists!</p>
#end

<a href="/stylists/new">Add New Stylist</a>