<div class="ui success message">
  <i class="close icon"></i>
  <div class="header">
    Your stylist registration was successful.
  </div>
  <p>You may now view your stylists.</p>
</div>

<a href="/stylists">
<button class="ui primary button">
  View Stylists
</button></a>