@import url('https://fonts.googleapis.com/css?family=Advent+Pro');

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Advent Pro', sans-serif;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Advent Pro', sans-serif;
}

input[type="submit"]:hover {
  background-color: #45a049;
  font-family: 'Advent Pro', sans-serif;
}

body {
  background-image: url("https://images.pexels.com/photos/1713054/pexels-photo-1713054.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  font-family: 'Advent Pro', sans-serif;
  color: white;
}

#stylistForm {
  display: inline-block;
  margin-left: 30px;
  font-family: 'Advent Pro', sans-serif;
}

#click {
  margin-left: 30px;
}

#home{
  align-content: center;
}

h1,
h2 {
  margin-left: 30px;
  color: #fff;
  font-family: 'Advent Pro', sans-serif;
}

h1{
  font-size: 30px;
}

/* #navhead{

} */

#clientForm {
  display: inline-block;
  margin-left: 30px;
}

.details {
  margin-left: 30px;
  font-family: 'Advent Pro', sans-serif;
}

#clientupdate {
  display: inline-block;
  margin-left: 30px;
}

#stylistupdate {
  display: inline-block;
  margin-left: 30px;
}

#deletestylist {
  margin-left: 30px;
}

#deleteclient {
  margin-left: 30px;
  font-family: 'Advent Pro', sans-serif;
}

#clientadd {
  margin-left: 30px;
}

#client2 {
  display: inline-block;
  margin-left: 30px;
}

#addstyle{
  margin-left: 30px;
}
label{
  color: #fff;
  font-family: 'Advent Pro', sans-serif;
}

#navhome{
  color: #fff;
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
}

#clienthome{
  display: inline-block;
  margin-left: 120px;
}
